# .env.example
# 环境变量模板, 使用前重命名为`.env`


# LLM配置
# 使用分析功能必须配置
LLM_API_KEY=""

# Semantic Scholar配置
# 配置正确可批量解析, 配置不正确会导致解析失败
# 不配置无法批量解析
S2_API_KEY=""

# OpenAlex配置
# 配置正确可批量解析, 配置不正确会导致解析失败
# 不配置无法解析
OA_API_KEY=""

# Zotero配置
# 使用上传功能必须配置
ZOTERO_USER_ID=""
ZOTERO_API_KEY=""
ZOTERO_INBOX_KEY=""
ZOTERO_TOREAD_KEY=""

# 其他配置
EMAIL="anonymous_researcher@research.com"
DB_URL="sqlite:///./db/papers.db"
